*{
    margin: 0;
    padding: 0;
}
body
{
    /* background-color: #EEE; */

    background-color: #ACD4FF;
    font-family: 'Roboto', sans-serif;
}
.container
{
    max-width: 1000px;
    /* background-color: #f4c2c2 ; */
    background-color: #BADBFF;
    margin: 0 auto;
    padding: 20px;
}
header
{

}
.profile-image
{
    width: 100px;
    height: 110px;
    border: 3px solid white;
    border-radius: 50% ;
    float:left;
}
.header-bio
{
    float: left;
    /* padding: 30px; */
}
h1,h2,h3,h4,h5,h6
{
    /* color: #e77878; */
    color: #5788BC;
}
.header-contact
{
    float: right;
    padding: 20px;
}
.header-contact a
{
    text-decoration: none;
    /* color: #e77878; */
    color: #5788BC;
    font-weight: bold;
}
.header-contact a:hover
{
    text-decoration: underline;
    color: purple;
}
.div-clear
{
    clear: both;
}
hr
{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
#personal-section
{

}
.content
{

}
.left-div
{
    width: 30%;
    float: left;
}
.right-div
{
    width: 70%;
    float: right;
}
.common-hr
{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.edu-left
{
    float: left;
    width: 45%;
}
.edu-right
{
    float: right;
    width: 45%;
}
.bottom-container
{
    background-color: black;
    text-align: center;
    padding: 10px;
}
.bottom-container a
{
    color: #5788BC;
    text-decoration: none;
    margin: 20px;
}
.bottom-container p
{
    color: #5788BC;
    margin-top: 20px;
}
.edu-left a
{
    text-decoration: none;
    color: #5788BC;
   
}
.edu-left a:hover
{
    text-decoration: underline;
    color: purple;
}
.edu-right a
{
    text-decoration: none;
    color: #5788BC;
   
}
.edu-right a:hover
{
    text-decoration: underline;
    color: purple;
}
li 
{
    list-style-type: circle ;
}
ul li::before 
{
    content: "\2022";
    color: #5788BC;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
.reference a
{
    text-decoration: none;
    color: #5788BC;
   
}
.reference a:hover
{
    text-decoration: underline;
    color: purple;
}
/* styles.css */
.skill-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Two equal-width columns */
    gap: 10px; /* Adjust the gap between columns */
    /* width: 80%; Optional: Set a specific width for the grid container */
    margin:  auto; /* Optional: Center the grid container */
}
  